<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="background">
        <div id="background-top">

        </div>
        <div id="app">
            <!-- parte sinistra -->
            <div id="container-left">
                <!-- nav-bar left -->
                <div id="nav-left">
                    <div id="my-contact">
                        <img :src=myContact.avatar class="avatar-img">
                        <div>{{myContact.name}}</div>
                    </div>

                    <div class="elements">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- /nav-bar left -->
                <div id="mute-notifications">
                    <div id="container-mute-bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div id="container-mute-notifications-text">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="https://www.google.com/">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div id="container-search-chat">
                    <button @click="searchContact()">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input v-model="contactEntered" @keyup.enter="searchContact()" type="text" placeholder="Cerca o inizia nuova chat">
                </div>

                <div id="container-contacts">

                    <div v-for="(contact, contactIndex) in contacts" v-show="contact.visible" @click="changeActiveChatIndex(contactIndex)" class="container-contact" :class="contactIndex == activeChatIndex ? `active` : ` `">
                        <img :src=contact.avatar class="avatar-img">
                        <div class="contact">{{contact.name}}</div>
                    </div>

                </div>

            </div>
            <!-- /parte sinistra -->

            <!------------------------------------------------------------------------>

            <!-- parte desta -->
            <div id="container-right">
                <!-- nav-bar right -->
                <div id="nav-right">

                    <div id="current-contact">
                        <img :src=contacts[activeChatIndex].avatar class="avatar-img">
                        <div id="text-current-contact">
                            <div>{{contacts[activeChatIndex].name}}</div>
                            <div id="last-access">Ultimo accesso {{contacts[activeChatIndex].messages[0].date}}</div>
                        </div>
                    </div>

                    <div class="elements">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>
                <!-- /nav-bar right -->
                <div id="container-messages">
                    <div v-for="singleMessage in contacts[activeChatIndex].messages" class="message" :class="singleMessage.status">
                        {{singleMessage.message}}
                        <div id="message-time">{{singleMessage.date}}</div>
                    </div>
                </div>

                <div id="bar-sent-message">
                    <i class="fa-regular fa-face-smile"></i>
                    <input v-model="userMessage" @keyup.enter="addUserMessage(), addAnswer()" type="text" placeholder="Scrivi un messaggio">
                    <i class="fa-solid fa-microphone"></i>
                </div>

            </div>
        </div>
        <!-- /parte destra -->
    </div>

    <script src="js/script.js"></script>
</body>

</html>